.navbar {
    margin-bottom: 0px;
}

.jumbotron{
    height: 100vh;
}

.test1 img {
	width: auto;
	height: 250px;
	display: block;
	margin: 0 auto;
}

h1,h2,h3,h4 {
	font-family: 'Changa One', cursive;
}

.memberImg {
	max-width: 150px;
}

footer {
	padding: 18px;
	text-align: center;
}